@import 'imports/stylesheets/scss/font-awesome';
@import 'imports/stylesheets/swiper.min.scss';
@import '../node_modules/@angular/material/theming';
@include mat-core();
$app-primary:mat-palette($mat-cyan,400);//#31c8c0
$app-warn: mat-palette($mat-red);
$app-accent:   mat-palette($mat-cyan,900,900);//#1d4959
$app-theme:  mat-light-theme($app-primary,$app-accent,$app-warn);
@include angular-material-theme($app-theme);
@font-face {
  font-family:'Proxima Nova Alt Regular';
  src:url('proxima-nova-alt-regular-59302fcf3d941.otf') format('opentype');

}
.mat-tab-body-content{
  height:inherit !important;
}
.fill-remaining-space{
  flex:1 1 auto;
}
body{
  background-color:#f6f6f6;
  padding:0;
  margin:0;
}
h1,h2,h3,h4,h5,h6,p,div,input,span{
  font-family:'Proxima Nova Alt Regular',sans-serif  !important;
}
body.web {
  overflow:visible;
  position:initial;
}
.mat-whiteframe-z2 {
  box-shadow:0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.mat-input-placeholder{
  color:black;
}
.mat-tab-label{
  min-width:20% !important;
  height:100% !important;
  box-shadow:0 0 0 0 rgba(0,0,0,0),0px 4px 5px 0px rgba(0,0,0,0.2);
}
.marginAuto{
  margin:auto !important;
  margin-top:0 !important;
}
.padding75{
  padding-top:75px;
}
.padding20{
  padding-top:20px;
}
.floatLeft{
  float:left;
}
.floatRight{
  float:right;
}
.mat-tab-body-wrapper,.mat-tab-body{
  overflow:inherit !important;
  max-width:100% !important;
}
.red{
  color:red;
  margin-bottom:12px;
}
.fixedTop{
  position:fixed;
  width:100%;
  background-color:white;
  box-shadow:0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
md-divider{
  display:block;
  border-top-style:solid;
  border-top-width:1px;
}
.width100{
  width:100%;
}
.font-normal{
  font-style:normal !important;
}
.startText{
  text-align:start;
}
.grey{
  color:grey;
}
.scroll{
  overflow-y:auto;
}
.file-uploading{
  opacity:0.3;
}
.file-is-over{
  opacity:0.7;
}
.aquaBorder{
  border:2px #26c6da solid !important;
}
.darkgrey{
  color:darkgrey !important;
}
.aqua{
  color:#26c6da !important;
}
md-tab-header{
  height:60px;
  background-color:lightgrey;
}
.mat-tab-header-pagination{
  display:none !important;
}
.preloader{
  margin-top:75%;
  margin-left:30%;
}
@media(max-width:1366px) and (min-width:421px){
  .preloader{
    margin-top:33%;
    margin-left:45%;
  }
}
@media(min-width:1367px){
  .preloader{
    margin-top:21%;
    margin-left:43%;
  }
}
@media(max-width:420px){
  .font20{
    font-size:20px;
  }
  .mat-tab-label{
    padding:0 !important;
  }
}
.z_index{
  z-index:9;
}
.max46{
  max-width:46%;
}
.textCenter{
  text-align:center;
}
.closeButton{
  position:absolute;
  top:0;
  right:0;
  opacity:0.3;
  cursor:pointer;
}
.closeButton2{
  top:60px;
  right:5%;
}
.margin8{
  margin-bottom:8px !important;
}
.themeColor{
  color:#f44336;
}
.mat-tab-body-wrapper{
  background-color:#f6f6f6;
}
.backButton{
  position:absolute !important;
  //margin-top:-50px !important;
  //color:white !important;
  left:0;
}
@media(max-width:599px){
  .backButton{
    padding-left:0 !important;
    margin-left:-9px !important;
  }
  .noBorder{
    height:40px !important;
  }
}
.margin0{
  margin-top:0;
}
.marginBottom0{
  margin-bottom:0;
}
.mat-card-avatar{
  width:99px !important;
}
.margin-left0{
  margin-left:0 !important;
}
.hidden{
  display:none !important;
}
.weight100{
  font-weight:100;
}
.uppercase{
  text-transform:uppercase;
}
.specialColor{
  color:#1d4959;
}
.pointer{
  cursor:pointer;
}
.sebm-google-map-container{
  height:350px;
  padding-bottom:20px;
  padding-top:20px;
}
.left15{
  margin-left:15px !important;
}
.lightgrey{
  color:lightgrey !important;
}
.white{
  color:white;
}
.tip{
  width:80px;
  height:80px;
  border-radius:50%;
  border:2px solid #26c6da;
  background-color:lightgrey;
}
.backgroundAqua{
  background-color:#26c6da;
}
.backgroundInherit{
  background-color:inherit !important;
}
.height135{
  height:135px;
}
.file{
  position:absolute;
  opacity:0;
  width:135px;
  height:135px;
  cursor:pointer;
}
.mat-button-toggle-checked{
  background-color:hotpink;
}
.mat-input-placeholder{
  color:lightgrey;
}
.mat-button-wrapper > h1{
  margin-top:19px !important;
  color:white !important;
}
.mat-list-item-content{//don't remove!
  padding-top:15px !important;
}