<div *ngIf="addressList" class="width100" [ngStyle]="{'height':height+'px'}" class="scroll">
    <button mat-button (click)="back();" class="backButton">
        <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i> <b>Back</b>
    </button>
    <mat-list>
        <mat-list-item>
            <h1 mat-line fxLayoutAlign="center" class="aqua font-normal" (click)="addressList=false;newAddress_('Home','','','','',null)">Use New Address</h1>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <h1 mat-line fxLayoutAlign="center"
                (click)="addressList=false;newAddress_('Home',customer.address1,customer.address2,customer.city,customer.state,customer.zipCode)">
                Home
            </h1>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div *ngFor="let adrs of customer.addresses">
                <mat-list-item>
                    <h1 mat-line fxLayoutAlign="center"
                        (click)="addressList=false;newAddress_(adrs.name,adrs.address1,adrs.address2,adrs.city,adrs.state,adrs.zipCode)">
                        {{adrs.name}}
                    </h1>
                </mat-list-item>
                <mat-divider></mat-divider>
        </div>
    </mat-list>
</div>
<div *ngIf="newAddress" [ngStyle]="{'height':height+'px'}" class="scroll">
    <button mat-button (click)="saveAddress=false;when=false;newAddress=false;whenDate=false;photosNotes=false;pay=false;submitPay=false;addressList=true;" class="backButton z_index">
        <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i> <b>Back</b>
    </button>
    <div fxLayout="column">
        <h1 fxLayoutAlign="center" class="font-normal aqua textCenter">{{choosedParentCategory}}</h1>
        <h3 fxLayoutAlign="center" class="font-normal grey textCenter">{{choosedCategory}}</h3>
        <h2 fxLayoutAlign="center" class="font-normal">{{choosedPrice}}</h2>
        <h4 fxLayoutAlign="center" class="font-normal darkgrey">A 8% service fee is added to every job</h4>
        <h2 *ngIf="!when" fxLayoutAlign="center" class="font-normal" style="color:dimgray;">What address is being serviced?</h2>
        <div *ngIf="when" fxLayout="row" fxLayoutAlign="center">
            <div fxLayout="column" fxFlex="90%">
                <mat-divider></mat-divider>
                <h3 fxLayoutAlign="center" class="font-normal aqua textCenter">{{addressForm.value.address1}}, {{addressForm.value.city}}, {{addressForm.value.state}}, {{addressForm.value.index_}}</h3>
                <mat-divider></mat-divider>
                <br>
                <h3 *ngIf="whenDate" fxLayoutAlign="center" class="font-normal textCenter" style="color:dimgray;">When do you need your chore completed?</h3>
                <button *ngIf="whenDate" mat-raised-button class="when aquaBorder" (click)="nowChore=true;openDialog(false)">
                            <i fxShow="true" fxShow.sm="false" fxShow.xs="false" class="fa fa-bolt fa-4x" aria-hidden="true" style="padding-left:46%;"></i>
                            <i fxShow="false" fxShow.sm="true" class="fa fa-bolt fa-4x" aria-hidden="true" style="padding-left:40%;"></i>
                            <i fxShow="false" fxShow.xs="true" class="fa fa-bolt fa-4x" aria-hidden="true" style="padding-left:34%;"></i>
                            <h1 class="startText" style="color:black !important;">&nbsp;&nbsp;Now</h1>
                </button>
                <br *ngIf="whenDate">
                <mat-input-container *ngIf="schedule">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date_">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                </mat-input-container>
                <mat-datepicker #picker></mat-datepicker>
                <button *ngIf="whenDate" mat-raised-button class="when aquaBorder" (click)="nowChore=false;schedule=true">
                            <i fxShow="true" fxShow.sm="false" fxShow.xs="false" class="fa fa-calendar fa-4x" aria-hidden="true" style="padding-left:43%;"></i>
                            <i fxShow="false" fxShow.sm="true" class="fa fa-calendar fa-4x" aria-hidden="true" style="padding-left:35%;"></i>
                            <i fxShow="false" fxShow.xs="true" class="fa fa-calendar fa-4x" aria-hidden="true" style="padding-left:23%;"></i>
                            <h1 class="startText" style="color:black !important;">&nbsp;&nbsp;Schedule</h1>
                </button>
                <br>
                <button *ngIf="schedule" mat-raised-button aria-label="next_" color="primary" (click)="date_ ? shedule_() : true"><h1 class="white">Next</h1></button>
                <div *ngIf="photosNotes" fxLayout="column">
                    <br>
                    <swiper [config]="config" class="height135">
                        <div class="swiper-wrapper">
                            <div *ngFor="let url of thumbs;let i=index" class="swiper-slide" fxLayoutAlign="center center">
                                <i class="fa fa-window-close fa-2x closeButton" aria-hidden="true" (click)="thumbs.splice(i,1);"></i>
                                <img [src]="url">
                            </div>
                            <div class="swiper-slide" fxLayoutAlign="center center"
                                 fileDrop [ngClass]="{'file-is-over':fileIsOver,'file-uploading':uploading}" (fileOver)="fileOver($event)" (onFileDrop)="onFileDrop($event)">
                                <i class="fa fa-camera fa-5x" aria-hidden="true"></i>
                                <input type="file" accept="image/jpeg,image/png" class="file" (change)="onFileDrop($event.target.files[0])">
                            </div>
                        </div>
                    </swiper>
                    <h3 fxLayoutAlign="center" class="font-normal grey">We suggest you take one or two detailed photos of the job.</h3>
                    <mat-input-container>
                        <textarea mat-autosize maxRows="9" matInput placeholder="Add notes to your job" class="aquaBorder" [(ngModel)]="description"></textarea>
                    </mat-input-container>
                    <button mat-raised-button aria-label="next" color="primary" (click)="descriptionNext()"><h1>Next</h1></button>
                    <br>
                </div>
                <br *ngIf="!schedule">
                <br *ngIf="!schedule">
                <form *ngIf="pay" fxLayout="column" [formGroup]="payForm" #f="ngForm" (ngSubmit)="nextPay()" class="marginAuto" style="width:300px;">
                    <mat-input-container>
                        <input matInput required formControlName="name" placeholder="Card Holder Name">
                    </mat-input-container>
                    <mat-input-container>
                        <input matInput required maxlength="16" minlength="16" formControlName="cardN" placeholder="Card Number">
                    </mat-input-container>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div style="width:167px;">
                            <mat-input-container align="end" class="max46">
                                <input matInput required maxlength="2" minlength="2" formControlName="exp" class="font-normal">
                                <mat-hint align="end">Exp</mat-hint>
                            </mat-input-container>
                            /
                            <mat-input-container class="max46">
                                <input matInput required maxlength="2" minlength="2" formControlName="date" class="font-normal">
                                <mat-hint>Date</mat-hint>
                            </mat-input-container>
                        </div>
                        <mat-input-container style="width:99px;">
                            <input matInput required maxlength="3" minlength="3" formControlName="cvv" placeholder="CVV">
                        </mat-input-container>
                    </div>
                    <button mat-raised-button type="submit" aria-label="next" color="primary"><h1>Next</h1></button>
                </form>
                <form *ngIf="submitPay" fxLayout="column"
                      (ngSubmit)="successfulSubmit()">
                    <mat-select placeholder="Choose Promo Code" [(ngModel)]="selectedPromo" name="promo" class="aquaBorder">
                        <mat-option *ngFor="let promo of promoCodes" [value]="promo.value">
                            {{promo.viewValue}}
                        </mat-option>
                    </mat-select>
                    <br>
                    <br>
                    <mat-toolbar class="backgroundInherit">
                        <h1 class="font-normal aqua weight100">Job fee</h1>
                        <span class="fill-remaining-space"></span>
                        <h1 class="font-normal aqua">{{choosedPrice}}</h1>
                        <mat-toolbar-row>
                            <span class="font-normal aqua" style="font-size:2.1em;font-weight:600;padding-top:30px;">SUBTOTAL {{choosedPrice}}</span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <br>
                    <br>
                    <button mat-raised-button type="submit" aria-label="next" color="primary"><h1>Submit</h1></button>
                    <h4 fxLayoutAlign="center" class="font-normal grey textCenter">Once submitted, we'll find you up to 3 background checked providers to choose from.</h4>
                </form>
            </div>
        </div>
        <div *ngIf="addressFields" fxLayout="row" fxLayoutAlign="center">
            <form fxLayout="column" fxFlex="90%" [formGroup]="addressForm" #f="ngForm" (ngSubmit)="addressFields=false;next()">
                <mat-input-container>
                            <input matInput formControlName="address1" placeholder="Street Address 1">
                </mat-input-container>
                <mat-input-container>
                            <input matInput formControlName="address2" placeholder="Street Address 2">
                </mat-input-container>
                <mat-input-container>
                            <input matInput formControlName="city" placeholder="City">
                </mat-input-container>
                <mat-input-container>
                            <input matInput formControlName="state" placeholder="State">
                </mat-input-container>
                <mat-input-container>
                            <input matInput formControlName="index_" placeholder="Zip code" type="number">
                </mat-input-container>
                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-slide-toggle [labelPosition]="'before'" [color]="'primary'" (change)="saveAddress==true ? saveAddress=false : saveAddress=true">Save this Address</mat-slide-toggle>
                </div>
                <mat-input-container *ngIf="saveAddress">
                    <input matInput formControlName="name" placeholder="Address Name">
                </mat-input-container>
                <div *ngIf="saveAddress" fxLayout="row" fxLayoutAlign="center">
                    <mat-slide-toggle [checked]="homeAddress" [color]="'primary'" (change)="homeAddress==true ? homeAddress=false : homeAddress=true">Set as Home Address</mat-slide-toggle>
                </div>
                <br>
                <button mat-raised-button type="submit" aria-label="next" color="primary"><h1>Next</h1></button>
                <br>
            </form>
        </div>
    </div>
</div>