<mat-toolbar *ngIf="user" color="accent">
    <!--<a *ngIf="!user" fxShow="true" fxShow.xs="false" [routerLink]="['/']" class="toolbar-title"><b><i>TECHFUL</i></b></a>-->
    <a fxShow="true" fxShow.xs="false" [routerLink]="['/app']" class="toolbar-title"><b><i>TECHFUL</i></b></a>
    <span class="fill-remaining-space"></span>
    <div>
      <i class="fa fa-user" aria-hidden="true" [matTooltip]="user | displayName"></i>
      <button mat-button (click)="logout()">Logout</button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>