.techful-title{
  //background-image:url('./img/R.png');
  font-size:20px;
  font-weight:900;
  letter-spacing:5px;
  color:white;
  text-decoration:none;
  width:138px;
  height:27px;
  z-index:1;
}
.fa-registered{
  font-size:12px;
  float:right;
  margin-top:-8px;
}
.firstRow{
  width:50%;
  padding-top:2.5%;
}
.login{
  border:1px solid white;
  border-radius:20px;
  color:white;
  padding-left:35px;
  padding-right:35px;
  margin-right:-9px;
}
.signup{
  border-radius:20px;
  padding-left:25px;
  padding-right:25px;
  margin-right:15px;
  color:white;
  background-color:#1280d8;
}
.secondRow{
  width:50%;
  padding-top:7%;
}
.findService{
  font-size:2.1em;
  line-height:150%;
  color:white;
  z-index:1;
  letter-spacing:2px;
}
.find{
  min-width:300px;
  z-index:1;
  border-radius:5px;
  background-color:white;
}
.findTech{
  color:#1180d8;
  margin-left:-20%;
}
.underline{
  width:57px;
  height:4px;
  margin-left:-64%;
  border-radius:3px;
  background-color:rgba(18,128,216,0.4);
}
.whatService{
  margin-left:-10%;
  margin-bottom:0;
}
.whatService2{
  margin-left:-20%;
  margin-bottom:0;
}
.continue{
  width:80%;
  margin-right:-3px;
  margin-top:20px;
  margin-bottom:40px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:25px;
  font-size:17px;
  color:white;
  background-color:#1280d8;
}
.getIt{
  width:15%;
  border-radius:20px;
  color:white;
  background-color:#24bf79;
}
.appMarkets{
  z-index:1;
  padding-top:40px;
}
.howItWorks{
  color:#5b5b5b;
  margin-top:170px;
  font-size:38px;
}
.underline2{
  width:79px;
  height:5px;
  border-radius:4px;
  background-color:rgba(138,163,182,0.2);
}
.techfulIs{
  font-size:14px;
  color:#485668;
  margin:40px;
}
.howCard{
  width:300px;
  height:300px;
  border-radius:20px;
  box-shadow:0px 8px 19px 1px rgba(172,190,224,0.2);
}
.cardTitle{
  color:#1280d8;
  margin-bottom:0;
}
.cardText{
  width:83%;
  font-size:14px;
  color:#3e3e3e;
  text-align:center;
}
.storiesCard{
  width:300px;
  height:250px;
  border-radius:20px;
  box-shadow:0px 8px 15px 0px rgba(18,128,216,0.07);
}
.bluePointer{
  color:#1280d8;
  cursor:pointer;
}
.betterHeader{
  font-size:20px;
  color:#5b5b5b;
  margin-bottom:12px;
  margin-top:0;
}
.betterText{
  color:#898989;
  font-size:14px;
  font-weight:100;
  line-height:200%;
}
.signUp{
  width:180px;
  padding-top:8px;
  padding-bottom:8px;
  border-radius:30px;
  font-size:17px;
  background-color:white;
  color:#1280d8;
  font-weight:900;
}
.makeMoney{
  color:white;
  font-weight:100;
  margin-bottom:4%;
}
.phone{
  position:absolute;
  right:25%;
  margin-top:-10%;
}
.footer{
  padding-top:6%;
}
.loremIpsum{
  margin-top:35px;
  color:#3e3e3e;
  font-weight:100;
  line-height:200%;
}
.fa-facebook,.fa-twitter,.fa-instagram{
  cursor:pointer;
}
.copyright{
  margin-top:130px;
  color:#3e3e3e;
  font-weight:100;
}
.marginPointer{
  margin-bottom:3px;
  cursor:pointer;
}
.img{
  position:absolute;
  max-width:100%;
}
.someColumn{
  width:86%;
  margin-top:187px;
  padding-left:5%;
  padding-top:2%;
  background-color:#1280d8;
}