<mat-toolbar color="accent">
    <span class="fill-remaining-space"></span>
    <div>
        <button mat-icon-button matTooltip="Facebook login" (click)="facebook();">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        </button>
        <button mat-icon-button matTooltip="Google login" (click)="google();">
            <i class="fa fa-google fa-2x" aria-hidden="true"></i>
        </button>
        <a mat-button [routerLink]="['/login']">Login</a>
        <a mat-button [routerLink]="['/signup']">Sign up</a>
    </div>
</mat-toolbar>
<br fxShow="true" fxShow.xs="false">
<div class="flex-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sign up</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="signupForm" #f="ngForm" (ngSubmit)="signup()">
                <mat-input-container>
                    <input matInput formControlName="email" type="email" placeholder="Email">
                </mat-input-container>
                <mat-input-container>
                    <input matInput formControlName="password" type="password" placeholder="Password">
                </mat-input-container>
                <br fxShow="false" fxShow.xs="true">
                <button mat-raised-button type="submit" aria-label="login">Sign Up</button>
            </form>
            <div [hidden]="error==''">
                <mat-toolbar [hidden]="error==''">
                    <p>{{error}}</p>
                </mat-toolbar>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/login2']">Already a user?</a>
        </mat-card-actions>
    </mat-card>
</div>