<mat-sidenav-container class="example-container" [ngStyle]="{'height':height}" style="background:#f6f6f6;">
    <mat-sidenav #sidenav>
        <mat-list>
            <h6 mat-subheader>open menu:</h6>
            <mat-list-item class="item" (click)="hideStep1=false;hideStep2=true;hideStep3=true;hideStep4=true;hideStep5=true;hideStep6=true;sidenav.close()">
                <i mat-list-avatar fxLayoutAlign="center" class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
                <h3 mat-line>BASIC INFO</h3>
            </mat-list-item>
            <div *ngIf="customer">
                <mat-list-item class="item" (click)="hideStep2=false;hideStep1=true;hideStep3=true;hideStep4=true;hideStep5=true;hideStep6=true;sidenav.close()">
                    <i mat-list-avatar fxLayoutAlign="center" class="fa fa-book fa-4x" aria-hidden="true"></i>
                    <h3 mat-line>ORIENTATION</h3>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h6 mat-subheader>disabled:</h6>
                <mat-list-item class="item disabled">
                    <i mat-list-avatar fxLayoutAlign="center" class="fa fa-file-text fa-4x" aria-hidden="true"></i>
                    <h3 mat-line>DOCUMENT UPLOAD</h3>
                </mat-list-item>
                <mat-list-item class="item disabled">
                    <i mat-list-avatar fxLayoutAlign="center" class="fa fa-credit-card-alt fa-4x" aria-hidden="true"></i>
                    <h3 mat-line>PAYMENT INFO</h3>
                </mat-list-item>
                <mat-list-item class="item disabled">
                    <i mat-list-avatar fxLayoutAlign="center" class="fa fa-lock fa-4x" aria-hidden="true"></i>
                    <h3 mat-line>BACKGROUND CHECK</h3>
                </mat-list-item>
            </div>
            <div *ngIf="!customer">
                <mat-divider></mat-divider>
                <h6 mat-subheader>disabled:</h6>
                <mat-list-item class="item disabled">
                    <i mat-list-avatar fxLayoutAlign="center" class="fa fa-book fa-4x" aria-hidden="true"></i>
                    <h3 mat-line>ORIENTATION</h3>
                </mat-list-item>
                <mat-list-item class="item disabled">
                    <i mat-list-avatar fxLayoutAlign="center" class="fa fa-file-text fa-4x" aria-hidden="true"></i>
                    <h3 mat-line>DOCUMENT UPLOAD</h3>
                </mat-list-item>
                <mat-list-item class="item disabled">
                    <i mat-list-avatar fxLayoutAlign="center" class="fa fa-credit-card-alt fa-4x" aria-hidden="true"></i>
                    <h3 mat-line>PAYMENT INFO</h3>
                </mat-list-item>
                <mat-list-item class="item disabled">
                    <i mat-list-avatar fxLayoutAlign="center" class="fa fa-lock fa-4x" aria-hidden="true"></i>
                    <h3 mat-line>BACKGROUND CHECK</h3>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-sidenav>
    <div fxLayout="row">
        <button mat-button (click)="sidenav.open()">
            <i class="fa fa-bars fa-5x" aria-hidden="true"></i>
        </button>
        <h1 [hidden]="hideStep1">Step 1. Customer Information</h1>
        <h1 [hidden]="hideStep2">Step 2. Complete Orientation</h1>
        <h1 [hidden]="hideStep3">Step 3. Document upload</h1>
        <h1 [hidden]="hideStep4">Step 4. Payment info</h1>
        <h1 [hidden]="hideStep5">Step 5. Background check</h1>
    </div>
    <div *ngIf="!hideStep1">
        <h4 class="left15"><i>Well you clearly know a good opportunity when you see one!</i> Please add your information below so we can get started.
            Any information we collect is stored securely and safely. Please note, you must be at least 18 years old to register as a provider.</h4>
        <div fxLayout="row">
            <form fxLayout="column" fxFlex="90%" class="marginAuto" [formGroup]="infoForm" #f="ngForm" (ngSubmit)="infoSave()">
                <div fxLayout="row">
                    <div class="photo" fxLayoutAlign="center center"
                         fileDrop [ngClass]="{'file-is-over':fileIsOver,'file-uploading':uploading}" (fileOver)="fileOver($event)" (onFileDrop)="onFileDrop($event)">
                        <span class="textCenter">Drop an image to here or click</span>
                        <input type="file" accept="image/jpeg,image/png" class="file" (change)="onFileDrop($event.target.files[0])">
                    </div>
                    <div *ngIf="photo!==''" class="photo" fxLayoutAlign="center center">
                        <img [src]="photo">
                    </div>
                </div>
                <br>
                <mat-input-container>
                    <input matInput placeholder="* Email" type="email" formControlName="email">
                </mat-input-container>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-input-container>
                        <input matInput formControlName="firstName" placeholder="* Legal First Name">
                    </mat-input-container>
                    <mat-input-container>
                        <input matInput formControlName="middleName" placeholder="Middle Name">
                    </mat-input-container>
                    <mat-input-container>
                        <input matInput formControlName="lastName" placeholder="* Last Name">
                    </mat-input-container>
                </div>
                <br><br>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-select formControlName="monthDate" placeholder="* DATE OF BIRTH">
                        <mat-option value="1">Jan</mat-option>
                        <mat-option value="2">Feb</mat-option>
                        <mat-option value="3">Mar</mat-option>
                        <mat-option value="4">Apr</mat-option>
                        <mat-option value="5">May</mat-option>
                        <mat-option value="6">Jun</mat-option>
                        <mat-option value="7">Jul</mat-option>
                        <mat-option value="8">Aug</mat-option>
                        <mat-option value="9">Sep</mat-option>
                        <mat-option value="10">Oct</mat-option>
                        <mat-option value="11">Nov</mat-option>
                        <mat-option value="12">Dec</mat-option>
                    </mat-select>
                    <mat-select formControlName="dayDate">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                        <mat-option value="6">6</mat-option>
                        <mat-option value="7">7</mat-option>
                        <mat-option value="8">8</mat-option>
                        <mat-option value="9">9</mat-option>
                        <mat-option value="10">10</mat-option>
                        <mat-option value="11">11</mat-option>
                        <mat-option value="12">12</mat-option>
                        <mat-option value="13">13</mat-option>
                        <mat-option value="14">14</mat-option>
                        <mat-option value="15">15</mat-option>
                        <mat-option value="16">16</mat-option>
                        <mat-option value="17">17</mat-option>
                        <mat-option value="18">18</mat-option>
                        <mat-option value="19">19</mat-option>
                        <mat-option value="20">20</mat-option>
                        <mat-option value="21">21</mat-option>
                        <mat-option value="22">22</mat-option>
                        <mat-option value="23">23</mat-option>
                        <mat-option value="24">24</mat-option>
                        <mat-option value="25">25</mat-option>
                        <mat-option value="26">26</mat-option>
                        <mat-option value="27">27</mat-option>
                        <mat-option value="28">28</mat-option>
                        <mat-option value="29">29</mat-option>
                        <mat-option value="30">30</mat-option>
                        <mat-option value="31">31</mat-option>
                    </mat-select>
                    <mat-select formControlName="yearDate">
                        <mat-option value="1">1999</mat-option>
                        <mat-option value="2">1998</mat-option>
                        <mat-option value="3">1997</mat-option>
                        <mat-option value="4">1996</mat-option>
                        <mat-option value="5">1995</mat-option>
                        <mat-option value="6">1994</mat-option>
                        <mat-option value="7">1993</mat-option>
                        <mat-option value="8">1992</mat-option>
                        <mat-option value="9">1991</mat-option>
                        <mat-option value="10">1990</mat-option>
                        <mat-option value="11">1989</mat-option>
                        <mat-option value="12">1988</mat-option>
                        <mat-option value="13">1987</mat-option>
                        <mat-option value="14">1986</mat-option>
                        <mat-option value="15">1985</mat-option>
                        <mat-option value="16">1984</mat-option>
                        <mat-option value="17">1983</mat-option>
                        <mat-option value="18">1982</mat-option>
                        <mat-option value="19">1981</mat-option>
                        <mat-option value="20">1980</mat-option>
                        <mat-option value="21">1979</mat-option>
                        <mat-option value="22">1978</mat-option>
                        <mat-option value="23">1977</mat-option>
                        <mat-option value="24">1976</mat-option>
                        <mat-option value="25">1975</mat-option>
                        <mat-option value="26">1974</mat-option>
                        <mat-option value="27">1973</mat-option>
                        <mat-option value="28">1972</mat-option>
                        <mat-option value="29">1971</mat-option>
                        <mat-option value="30">1970</mat-option>
                        <mat-option value="31">1969</mat-option>
                        <mat-option value="32">1968</mat-option>
                        <mat-option value="33">1967</mat-option>
                        <mat-option value="34">1966</mat-option>
                        <mat-option value="35">1965</mat-option>
                        <mat-option value="36">1964</mat-option>
                        <mat-option value="37">1963</mat-option>
                        <mat-option value="38">1962</mat-option>
                        <mat-option value="39">1961</mat-option>
                        <mat-option value="40">1960</mat-option>
                    </mat-select>
                </div>
                <br>
                <mat-input-container>
                    <input matInput formControlName="address1" placeholder="* Address 1">
                </mat-input-container>
                <mat-input-container>
                    <input matInput formControlName="address2" placeholder="Address 2">
                </mat-input-container>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-input-container>
                        <input matInput formControlName="city" placeholder="* City">
                    </mat-input-container>
                    <mat-select formControlName="state" placeholder="* State" style="margin-top:9px;">
                        <mat-option value="AL">Alabama</mat-option>
                        <mat-option value="AK">Alaska</mat-option>
                        <mat-option value="AR">Arkansas</mat-option>
                        <mat-option value="AS">American Samoa</mat-option>
                        <mat-option value="AZ">Arizona</mat-option>
                        <mat-option value="CA">California</mat-option>
                        <mat-option value="CO">Colorado</mat-option>
                        <mat-option value="CT">Connecticut</mat-option>
                        <mat-option value="DC">District of Columbia</mat-option>
                        <mat-option value="DE">Delaware</mat-option>
                        <mat-option value="FL">Florida</mat-option>
                        <mat-option value="GA">Georgia</mat-option>
                        <mat-option value="GU">Guam</mat-option>
                        <mat-option value="HI">Hawaii</mat-option>
                        <mat-option value="IA">Iowa</mat-option>
                        <mat-option value="ID">Idaho</mat-option>
                        <mat-option value="IL">Illinois</mat-option>
                        <mat-option value="IN">Indiana</mat-option>
                        <mat-option value="KS">Kansas</mat-option>
                        <mat-option value="KY">Kentucky</mat-option>
                        <mat-option value="LA">Louisiana</mat-option>
                        <mat-option value="MA">Massachusetts</mat-option>
                        <mat-option value="MD">Maryland</mat-option>
                        <mat-option value="ME">Maine</mat-option>
                        <mat-option value="MI">Michigan</mat-option>
                        <mat-option value="MN">Minnesota</mat-option>
                        <mat-option value="MO">Missouri</mat-option>
                        <mat-option value="MS">Mississippi</mat-option>
                        <mat-option value="MT">Montana</mat-option>
                        <mat-option value="NC">North Carolina</mat-option>
                        <mat-option value="ND">North Dakota</mat-option>
                        <mat-option value="NE">Nebraska</mat-option>
                        <mat-option value="NH">New Hampshire</mat-option>
                        <mat-option value="NJ">New Jersey</mat-option>
                        <mat-option value="NM">New Mexico</mat-option>
                        <mat-option value="NV">Nevada</mat-option>
                        <mat-option value="NY">New York</mat-option>
                        <mat-option value="OH">Ohio</mat-option>
                        <mat-option value="OK">Oklahoma</mat-option>
                        <mat-option value="OR">Oregon</mat-option>
                        <mat-option value="PA">Pennsylvania</mat-option>
                        <mat-option value="PR">Puerto Rico</mat-option>
                        <mat-option value="RI">Rhode Island</mat-option>
                        <mat-option value="SC">South Carolina</mat-option>
                        <mat-option value="SD">South Dakota</mat-option>
                        <mat-option value="TN">Tennessee</mat-option>
                        <mat-option value="TX">Texas</mat-option>
                        <mat-option value="UT">Utah</mat-option>
                        <mat-option value="VA">Virginia</mat-option>
                        <mat-option value="VI">Virgin Islands</mat-option>
                        <mat-option value="VT">Vermont</mat-option>
                        <mat-option value="WA">Washington</mat-option>
                        <mat-option value="WI">Wisconsin</mat-option>
                        <mat-option value="WV">West Virginia</mat-option>
                        <mat-option value="WY">Wyoming</mat-option>
                    </mat-select>
                    <mat-input-container>
                        <input matInput formControlName="zipCode" type="number" placeholder="* Zip Code">
                    </mat-input-container>
                </div>
                <mat-input-container>
                    <textarea mat-autosize formControlName="bio" maxRows="9" minRows="9" matInput placeholder="Bio"></textarea>
                </mat-input-container>
                <br>
                <mat-divider style="border-top-color:black;"></mat-divider>
                <br>
                <h1 class="darkgrey">Mobile Verification</h1>
                <h4>Please verify your number with your unique Techful access code.</h4>
                <mat-input-container>
                    <input matInput formControlName="phone" placeholder="* Phone Number">
                </mat-input-container>
                <button mat-raised-button aria-label="next" color="primary" style="width:250px;" type="submit"><h2 style="color:white !important;">NEXT</h2></button>
                <br>
            </form>
        </div>
    </div>
    <div *ngIf="!hideStep2">
        <h3 class="left15" style="color:#1d4959 !important;"><i class="fa fa-exclamation-circle fa-2x" aria-hidden="true" style="margin-top:-9px;color:#f4c500;"></i> <span style="vertical-align:top;">Status: Incomplete.</span></h3>
        <h4 class="left15"><i>To ensure providers</i> feel comfortable with the app and working with their customers, we require all providers attend an online orientation.
            This orientation will give you an overview of the app and some tips on how to get that 5 star rating.</h4>
        <button mat-raised-button aria-label="onlineCourse" color="primary" class="left15" style="width:325px;" (click)="route()"><h2 style="color:white !important;">VIEW ONLINE COURSE</h2></button>
    </div>
</mat-sidenav-container>